<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>mktakuyaのホームページ</title>
  </head>

  <body onContextMenu="alert('右クリック禁止です！'); return false;">
    <center>
      <%= yield %>
    </center>
  </body>
</html>
