<table border="6" bordercolor="red" width="500">
  <tr>
    <td>
      <marquee>
        <font size="14" color="blue"><i><b>ようこそmktakuyaのホームページへ</b></i></font>
      </marquee>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <marquee behavior="alternate">ゆっくりしていってね！</marquee>
    </td>
  </tr>
</table>

<table bgcolor="pink">
  <tr>
    <td>
      あなたは
      <img src="https://cgi.asahi-net.or.jp/cgi-bin/Count.cgi?df=index.dat">
      人目の訪問者です！
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <p>著者近影</p>
      <img src="/images/yugawara.jpg" width="600">
    </td>
  </tr>
</table>

