<h2>おしながき</h2>

<ul>
  <li><a href="/contents/index.html" target="contents">入り口</a></li>
  <li><a href="/contents/purofi-ru.html" target="contents">プロフィール</a></li>
  <li><a href="/contents/poddokyasuto.html" target="contents">ポッドキャスト</a></li>
</ul>
